@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p><h2>This work was made by:<br /></h2>
   <h3>Vlad Popov ID: 327391413<br /></h3>
    <h3>Omri Amsalem ID:318883386 <br /></h3></p>
